<link rel="stylesheet" href="css/header&footer_styles.css">
<footer>
    <div id="media">
    <a href="https://www.instagram.com/nosnaturaproject/" target="_blank"><img class="iglogo" src="images/instalogo.svg" width="10%"></a>
    </div>
</div>
</footer>