<link rel="stylesheet" href="css/header&footer_styles.css">

<header>
    <img class="logo" src="images/logo.png" width="25%">
    <nav>
        <ul class="nav_links">
            <li><a class="cta" href="/">
                    <button>Home</button>
                </a></li>
            <li><a class="cta" href="/map"><button>Map</button></a></li>
            <li><a class="cta" href="/about">
                    <button>About Us</button>
                </a></li>
        </ul>
    </nav>
</header>