<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>NosNaturaProject</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <link rel="stylesheet" href="css/astyles.css">
  
</head>
<div class="snapaux">
  <div class="snapstart">
<body>
  <%- include("partials/header") -%>

    <div class="title">
      <p>- List of NosNatura Founders -</p>
    </div>
    <div>
      <div id="container_sebi">
        <a href="https://www.instagram.com/matei.sebastian9/?hl=en" target="_blank"><img class="logo sebipoza" src="images/sebip_2.jpg" width="100%"></a>
        <div class="sebitext">
          <p2>Hello, my name is Sebastian. I was always fascinated by technology. I began learning about it at a young
            age, with Arduino IDE and C++.
            I like sports aswell, at the moment I hold a Kukkiwon 1st poom Black-Belt certificate in Taekwondo.With this
            project I learnt a lot about Frontend development and teamwork. I'm very social and I love meeting new
            people.
            I look forward to learning more about JavaScript and AI in the near future.</p2>
        </div>
      </div>

      <hr class="rounded">

      <div id="container_muc">
        <a href="https://www.instagram.com/anghel__matei/?hl=en" target="_blank"><img class="logo mucpoza" src="images/mucp_2.jpg" width="100%"></a>
        <div class="muctext">
          <p2>Hey, my name is Matei Anghel (english version Matthew), I am 17 years old currently studying at National College of Computer Science "Tudor Vianu". I love theatre, traveling, reading and cycling . I’ve always wanted to take part
            in a group project that aims to change the world for the better, at least slightly, and I feel like Nos
            Natura
            is the perfect fit for it.</p2>
        </div>
      </div>

      <hr class="rounded">

      <div id="container_cezar">
        <a href="https://www.instagram.com/czar.cpp/?hl=en" target="_blank">><img class="logo cezarpoza" src="images/cezarp_2.jpg" width="100%"></a>
        <div class="cezartext">
          <p2>I am Băluță Cezar, a 17 years old student at the National College of Computer Science "Tudor Vianu". I am
            passionate about technology and I am looking forward to becoming a software engineer. I am also a nature
            lover
            and it hurts to see that the authorities are not interested in reforesting or planting trees in the urban
            areas. That's why I have decided to be part of the NosNatura project.</p2>
        </div>
      </div>

      <hr class="rounded">

      <div id="container_calin">
        <a href="https://www.instagram.com/calin_avr/?hl=en" target="_blank"><img class="logo calinpoza" src="images/calinp.jpg" width="100%"></a>
        <div class="calintext">
          <p2>Hi, my name is Avramoniu Calin. I live in Bucharest and I am passionate about sports, coding and almost
            anything business related. I hope I will become a successful entrepreneur in the future.
          </p2>
        </div>
      </div>

      <hr class="rounded">

      <div id="container_iani">
        <a href="https://www.instagram.com/i_meghea/?hl=en" target="_blank"><img class="logo ianipoza" src="images/ianip_2.jpg" width="100%" height="100%"></a>

        <div class="ianitext">
          <p2>My name is Iani and I am one of 10 co-founders of Nos Natura. I’d like to think of myself as innovative
            and
            creative, even though, in truth, I tend to lean towards the exact sciences and sports. I helped found this
            non-profit in order to raise awareness for a great cause that, unfortunately, hasn’t been given nearly
            enough
            attention during recent years.</p2>
        </div>
      </div>

      <hr class="rounded">


      <div id="container_sala">
        <a href="https://www.instagram.com/andrei_sa05/" target="_blank"><img class="logo salapoza" src="images/salap_2.jpg" width="100%" height="100%"></a>
        <div class="salatext">
          <p2>My name is Andrei. I am 16 years old and i am a student at National College of Informatics Tudor Vianu. In
            my free time I like to play video games and listen to music.
        </div>
      </div>

      <hr class="rounded">

      <div id="container_adi">
        <a href="https://www.instagram.com/adidinamitel/" target="_blank"><img class="logo adipoza" src="images/adip_2.jpg" width="100%"></a>
        <div class="aditext">
          <p2>My name is Adrian and I am a tenacious, kind and emphatic teenager, who always tries to be a better
            version
            of himself. I love computer science and I also like leaving my own comfort zone to improve my self
            confidence.
          </p2>
        </div>
      </div>

      <hr class="rounded">

      <div id="container_barbu">
        <a href="https://www.instagram.com/matei.brb/" target="_blank"><img class="logo barbupoza" src="images/barbup.jpg" width="100%"></a>
        <div class=" barbutext">
          <p2>My name is Matei and I am an enthusiastic teen, working hard for his dreams. I am also passionate about
            reading, music and I am a cinephile. I love social interaction and I offer to help whenever needed.</p2>
        </div>
      </div>

      <hr class="rounded">

      <div id="container_vlad">
        <a href="https://www.instagram.com/1vlad.andrew/"target="_blank"><img class="logo vladpoza" src="images/vladp.jpg" width="100%"></a>
        <div class="vladtext">
          <p2>Hi, My name is Vlad and i'm one of the co-founders of NosNaturas , an student passionate about computer
            science who wants to help the nature in any way possible. It's hard to see how the authorities are so
            indifferent about the nature pollution and not stepping up.
            I am dedicated to this project and I surely think I could help making a difference here.</p2>
        </div>
      </div>

      <hr class="rounded">

      <div id="container_alin">
        <a href="https://www.instagram.com/alin._.marius/" target="_blank"><img class="logo alinpoza" src="images/alinp_2.jpg" width="100%"></a>
        <div class="Alintext">
          <p2>My name is Alin Chirila, I'm 16 years old and currently I'm a student at George Calinescu Highschool.In my
            free time I like to play video games, play ping pong, draw and listen to music. I like working in groups
            because it's the best way to socialize and have fun.</p2>
        </div>
      </div>
    </div>
</body>
</body>
<%- include("partials/footer") -%>
  </div>
  </div>