<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap" rel="stylesheet">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>NosNaturaProject</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Lora&display=swap" rel="styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="styles.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/mobile.css">
  <link rel="stylesheet" href="css/header&footer_styles.css">

</head>

<body>
  <%- include("partials/header") -%>
    <div class="container1">
      <div class="grid1">
        <section id="first">
          <h1>Nos Natura Project</h1>
          <p id="greener"> for a greener world</p>
          <p style="  letter-spacing: 3px ; ">Est. 2021</p>
        </section>

        <div2 class="grid2">
          <?xml version="1.0" encoding="utf-8"?>
          <%- include("partials/svg") -%>
            <section id="treecounter">
              <h2 id="counter">TOTAL NUMBER OF TREES PLANTED</h2>
              <p id="tnumber">0</p>
            </section>
            <div class="photot2"><%- include("partials/svg") -%></div>
        </div2>
        <div3 class="grid3">
          <div class="box1">
            <div class="poza1"><img class="m1" src="images/forest1.jpg" width="100%" height="100%"></div>
            <div class="box2">
              <p2>This project is 100% funded by the founding members of Nos Natura with their personal money and if it gets too big for our financial powers, only then will we request donations, volunteer support or even sponsors in order to keep it running. Being just the ten of us at the moment, that could happen rather quickly.</p2>
          </div>
          </div>
          <div class="box8">
            <div class="box9">
              <p2>Each and every single member (person in the photo) is dedicated to this cause and believes that nature
                deserves a helping hand in the constant fight against pollution and deforestation, even if it makes only
                a
                slight change in the grand scheme of things. You can read more about us as individuals as well as the
                project itself on the About Us page.</p2>
          </div>
          <div class="poza5"><img class="m2" src="images/gr1.jpg" width="100%" height="100%"></div>
          </div>
        </div3>
      </div>
    </div>
</body>
