* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li,
a,
button {
  font-family: "Hind", sans-serif;
  font-weight: 500;
  font-size: 0.8vw;
  color: #ecd2b1;
  text-decoration: none;
}
.outer1{
  width: 100vw;
  height:100vh;
  position:relative;

}
.outer{
width: 100vw;
height: 200vh;
}
body {
  overflow: hidden;
  width: 100%;
  height: 340vh;
  background: linear-gradient(180deg, #e8ded1, #ecd2b1);
  background-size: cover;
}
.container1 {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 45vh;
  font-family: "PT Sans Caption", sans-serif;
}
section h1 {
  font-size: 5.6vw;
  color: #3d2314;
}
section p {
  font-size: 2vw;
  color: #3d2314;
}
.div2 {
  float: left;
  width: 50%;
  height: 40vh;
}
#copacmare {
  width: 100%;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 47vh;
}
.grid1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 80vh;
  scroll-snap-align: start;
}
.grid3 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  float: right;
  width: 100%;
  height: 30vh;
  scroll-snap-align: start;
}
.grid4 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  float: right;
  width: 100%;
  height: 30vh;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  float: right;
  width: 100%;
  height: 30vh;
}
.div2 {
  float: left;
  width: 50%;
  height: 40vh;
}
.div3 {
  float: left;
  width: 50%;
  height: 40vh;
}
#treecounter h2 {
  font-size: 1vw;
  float: center;
  text-align: center;
}
h2#counter {
  margin-right: auto;
  margin-left: auto;
  font-size: 1.9vw;
}
.photot2{
  transform: scaleX(-1);
}
#tnumber {
  margin-right: auto;
  margin-left: auto;
}
.box1 {
  float: right;
  display: flex;
  margin-right: 15%;
  margin-top: 15%;
  margin-bottom: 15%;
  margin-left: 15%;
}
section p2 {
  display: center;
  font-size: 1.6vw;
  margin-left: 10%;
  margin-right: 10%;
}
.spatiu {
  width: 100%;
  height: 23vh;
}
#greener {
  font-size: 2vw;
}
#scroll {
  font-size: 1vw;
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0%;
}
